body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #ffe0b2, #fff9e6);


  
  
}
i{
  cursor:pointer;
}
a{
  text-decoration: none;
  color:white;
}
.navbar{
  background-color: black;
  color:white;
  padding: 10px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin-bottom: 19px;


}
.cart{
  font-size:30px;
  margin-right: 50px;
  margin-top: 20px;
  position: relative;
   

}
.cartAmount{
  font-size:16px;
  background-color: red;
  border-radius: 3px;
  text-align: center;
  padding: 7px;
  position: absolute;
  top:-15px;
  right:-10px;
}
.shop{
  display: grid;
  grid-template-columns: repeat(4,223px);
  gap:30px;
  justify-content: center;
  

}

@media(max-width: 1000px){
  .shop{
    grid-template-columns: repeat(2,223);
  }
}
@media(max-width: 500px){
  .shop{
    grid-template-columns: repeat(1,223);
  }
}
.cart-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.item{
  border:1px solid black;
  border-radius: 4px;
  
}
.details{
  display: flex;
  flex-direction:column ;
  margin: 5px;
  padding: 3px;
  gap:2px;
}
.price-quantity{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center ;


}
.button{
 display: flex;
 flex-direction: row;
 gap:8px;
 font-size: 16px;

}
.bi-dash-lg{
  color:red;
}
.bi-plus-lg{
  color:green;
}

/*amount page*/
text-center{
  text-align: center;
  margin-bottom: 20px;
  
  
}
.HomeBtn,.checkout,.removeAll{
  background-color:black;
  color:white;
  border:none;
  padding:9px;
  border-radius: 3px;
  cursor:pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 7px;
}
.checkout{
  background-color: green;
}
.removeAll{
  background-color:red;
}
.bi-x-lg{
  color:red;
  font-weight: bold;
}

.shopping-cart{
  display:grid;
  grid-template-columns: repeat(1,320px);
  justify-content:center;
  gap:15px;


}

.cart-item{
  border:2px solid black;
  border-radius:5px ;
  display:flex;
}
.title-price-x{
  width:195px;
  display:flex;
  align-items:center;
  justify-content: space-between;

}
.title-price{
  display:flex;
  align-items:center;
  gap:10px;
}
.cart-item-price{
  background-color: black;
  color:white;
  padding: 3px 6px;
  border-radius: 3px;
}
